.contant{
    width: 980px;
    margin: auto;
    text-align: center;
}

table{
    margin: auto;
    border: 1px solid #333333;
    padding: 5px;
}
td{
    padding: 10px;
}
.poster{
	width: 200px;
	height: 300px;
}